:root {
	/* Max-width / Measure */
	--max-width--body-normal: 50ch;
	--max-width--body-narrow: 35ch;

	--max-width--heading-normal: 50ch;
	--max-width--heading-narrow: 30ch;

	--max-width--display-normal: 20ch;
	--max-width--display-narrow: 15ch;
	--max-width--display-tight: 5ch;

	/* Letter-spacing / Tracking */
	--letter-spacing--display-tight: -0.03em;
	--letter-spacing--display-normal: 0em;
	--letter-spacing--display-loose: 0.03em;

	--letter-spacing--heading-tight: -0.03em;
	--letter-spacing--heading-normal: 0em;
	--letter-spacing--heading-loose: 0.03em;

	--letter-spacing--body-tight: -0.03em;
	--letter-spacing--body-normal: 0em;
	--letter-spacing--body-loose: 0.03em;

	/* Line height / Leading */
	--line-height: 1;

	--line-height--display-tight: 1;
	--line-height--display-normal: 1.1;
	--line-height--display-loose: 1.2;

	--line-height--heading-tight: 1.15;
	--line-height--heading-normal: 1.25;
	--line-height--heading-loose: 1.35;

	--line-height--body-tight: 1.2;
	--line-height--body-normal: 1.4;
	--line-height--body-loose: 1.6;

	/* Hardcoded font sizes */
	--font-size--2xs: 0.625rem;
	--font-size--xs: 0.8125rem;
	--font-size--sm: 0.875rem;
	--font-size--md: 1rem;
	--font-size--lg: 1.125rem;
	--font-size--xl: 1.25rem;
	--font-size--2xl: 1.5rem;
	--font-size--3xl: 2rem;
	--font-size--4xl: 2.5rem;
	--font-size--5xl: 3rem;
	--font-size--6xl: 3.5rem;

	/* Spacing */
	--margin-3xs: 0.125rem;
	--margin-2xs: 0.3rem;
	--margin-xs: 0.5rem;
	--margin-sm: 0.7rem;
	--margin-md: 0.8rem;
	--margin-lg: 1rem;
	--margin-xl: 1.25rem;
	--margin-2xl: 1.5rem;
	--margin-3xl: 1.75rem;
	--margin-4xl: 2rem;
	--margin-5xl: 3rem;
	--margin-6xl: 5rem;

	--scroll-margin: 50px;

	--padding-3xs: 0.125rem;
	--padding-2xs: 0.25rem;
	--padding-xs: 0.5rem;
	--padding-sm: 0.7rem;
	--padding-md: 0.8rem;
	--padding-lg: 1rem;
	--padding-xl: 1.25rem;
	--padding-2xl: 1.5rem;
	--padding-3xl: 1.75rem;
	--padding-4xl: 2rem;
	--padding-5xl: 3rem;
	--padding-6xl: 4rem;

	--gap-3xs: 0.125rem;
	--gap-2xs: 0.3rem;
	--gap-xs: 0.5rem;
	--gap-sm: 0.7rem;
	--gap-md: 0.9rem;
	--gap-lg: 1rem;
	--gap-xl: 1.25rem;
	--gap-2xl: 2rem;
	--gap-3xl: 3rem;

	--spacing-scale-sm: 0.6;
	--spacing-scale-md: 0.7;
	--spacing-scale-default: 1;

	--font-size--paragraph: 0.875rem;
	--font-size--h1: clamp(3rem, 5.6vw, 3.5rem);
	--font-size--h2: clamp(2.25rem, 4.8vw, 3rem);
	--font-size--h3: 2rem;
	--font-size--h4: 1.5rem;
	--font-size--h5: 0.875rem;
	--font-size--h6: 0.75rem;
	--font-paragraph--weight: 400;
	--font-paragraph--letter-spacing: var(--letter-spacing--body-normal);
	--font-paragraph--size: var(--font-size--paragraph);
	--font-paragraph--family: var(--font-body--family);
	--font-paragraph--style: var(--font-body--style);
	--font-paragraph--case: ;
	--font-paragraph--line-height: var(--line-height--body-loose);
	--font-h1--weight: var(--font-heading--weight);
	--font-h1--letter-spacing: var(--letter-spacing--heading-normal);
	--font-h1--size: var(--font-size--h1);
	--font-h1--family: var(--font-heading--family);
	--font-h1--style: var(--font-heading--style);
	--font-h1--case: none;
	--font-h1--line-height: var(--line-height--display-tight);
	--font-h2--weight: var(--font-heading--weight);
	--font-h2--letter-spacing: var(--letter-spacing--heading-normal);
	--font-h2--size: var(--font-size--h2);
	--font-h2--family: var(--font-heading--family);
	--font-h2--style: var(--font-heading--style);
	--font-h2--case: none;
	--font-h2--line-height: var(--line-height--display-tight);
	--font-h3--weight: var(--font-heading--weight);
	--font-h3--letter-spacing: var(--letter-spacing--heading-normal);
	--font-h3--size: var(--font-size--h3);
	--font-h3--family: var(--font-heading--family);
	--font-h3--style: var(--font-heading--style);
	--font-h3--case: none;
	--font-h3--line-height: var(--line-height--display-normal);
	--font-h4--weight: var(--font-heading--weight);
	--font-h4--letter-spacing: var(--letter-spacing--heading-normal);
	--font-h4--size: var(--font-size--h4);
	--font-h4--family: var(--font-heading--family);
	--font-h4--style: var(--font-heading--style);
	--font-h4--case: none;
	--font-h4--line-height: var(--line-height--display-tight);
	--font-h5--weight: var(--font-subheading--weight);
	--font-h5--letter-spacing: var(--letter-spacing--heading-normal);
	--font-h5--size: var(--font-size--h5);
	--font-h5--family: var(--font-subheading--family);
	--font-h5--style: var(--font-subheading--style);
	--font-h5--case: none;
	--font-h5--line-height: var(--line-height--display-loose);
	--font-h6--weight: var(--font-subheading--weight);
	--font-h6--letter-spacing: var(--letter-spacing--heading-normal);
	--font-h6--size: var(--font-size--h6);
	--font-h6--family: var(--font-subheading--family);
	--font-h6--style: var(--font-subheading--style);
	--font-h6--case: none;
	--font-h6--line-height: var(--line-height--display-loose);
}

/* Typography presets */

.h1,
.h1.h1,
.text-block.h1 > * {
	font-family: var(--font-h1--family);
	font-style: var(--font-h1--style);
	font-weight: var(--font-h1--weight);
	font-size: var(--font-h1--size);
	line-height: var(--font-h1--line-height);
	letter-spacing: var(--font-h1--letter-spacing);
	text-transform: var(--font-h1--case);
	color: var(--color, var(--font-h1-color));
}

@media screen and (max-width: 1200px) {
	input.h1.h1,
	textarea.h1.h1,
	select.h1.h1 {
		font-size: max(1rem, var(--font-h1--size));
	}
}

.h2,
.h2.h2,
.text-block.h2 > * {
	font-family: var(--font-h2--family);
	font-style: var(--font-h2--style);
	font-weight: var(--font-h2--weight);
	font-size: var(--font-h2--size);
	line-height: var(--font-h2--line-height);
	letter-spacing: var(--font-h2--letter-spacing);
	text-transform: var(--font-h2--case);
	color: var(--color, var(--font-h2-color));
}

@media screen and (max-width: 1200px) {
	input.h2.h2,
	textarea.h2.h2,
	select.h2.h2 {
		font-size: max(1rem, var(--font-h2--size));
	}
}

.h3,
.h3.h3,
.text-block.h3 > * {
	font-family: var(--font-h3--family);
	font-style: var(--font-h3--style);
	font-weight: var(--font-h3--weight);
	font-size: var(--font-h3--size);
	line-height: var(--font-h3--line-height);
	letter-spacing: var(--font-h3--letter-spacing);
	text-transform: var(--font-h3--case);
	color: var(--color, var(--font-h3-color));
}

@media screen and (max-width: 1200px) {
	input.h3,
	textarea.h3,
	select.h3 {
		font-size: max(1rem, var(--font-h3--size));
	}
}

.h4,
.h4.h4,
.text-block.h4 > * {
	font-family: var(--font-h4--family);
	font-style: var(--font-h4--style);
	font-weight: var(--font-h4--weight);
	font-size: var(--font-h4--size);
	line-height: var(--font-h4--line-height);
	letter-spacing: var(--font-h4--letter-spacing);
	text-transform: var(--font-h4--case);
	color: var(--color, var(--font-h4-color));
}

@media screen and (max-width: 1200px) {
	input.h4.h4,
	textarea.h4.h4,
	select.h4.h4 {
		font-size: max(1rem, var(--font-h4--size));
	}
}

.h5,
.h5.h5,
.text-block.h5 > * {
	font-family: var(--font-h5--family);
	font-style: var(--font-h5--style);
	font-weight: var(--font-h5--weight);
	font-size: var(--font-h5--size);
	line-height: var(--font-h5--line-height);
	letter-spacing: var(--font-h5--letter-spacing);
	text-transform: var(--font-h5--case);
	color: var(--color, var(--font-h5-color));
}

@media screen and (max-width: 1200px) {
	input.h5.h5,
	textarea.h5.h5,
	select.h5.h5 {
		font-size: max(1rem, var(--font-h5--size));
	}
}

.h6,
.h6.h6,
.text-block.h6 > * {
	font-family: var(--font-h6--family);
	font-style: var(--font-h6--style);
	font-weight: var(--font-h6--weight);
	font-size: var(--font-h6--size);
	line-height: var(--font-h6--line-height);
	letter-spacing: var(--font-h6--letter-spacing);
	text-transform: var(--font-h6--case);
	color: var(--color, var(--font-h6-color));
}

@media screen and (max-width: 1200px) {
	input.h6.h6,
	textarea.h6.h6,
	select.h6.h6 {
		font-size: max(1rem, var(--font-h6--size));
	}
}

:first-child:is(.h1, .h2, .h3, .h4, .h5, .h6) {
	margin-block-start: 0;
}

:last-child:is(.h1, .h2, .h3, .h4, .h5, .h6) {
	margin-block-end: 0;
}

/* Links */
a {
	text-decoration-color: transparent;
	text-decoration-thickness: 0.075em;
	text-underline-offset: 0.125em;
	transition:
		text-decoration-color var(--animation-speed) var(--animation-easing),
		color var(--animation-speed) var(--animation-easing);
}

:is(h1, h2, h3, h4, h5, h6, p) > a:hover {
	--button-color: var(--color, var(--color-primary-hover));
}

/* Add underline to text using our paragraph styles only. */
p:not(.h1, .h2, .h3, .h4, .h5, .h6)
	a:where(:not(.button, .button-primary, .button-secondary)),
.rte
	:is(p, ul, ol, table):not(.h1, .h2, .h3, .h4, .h5, .h6)
	a:where(:not(.button, .button-primary, .button-secondary)) {
	text-decoration-color: currentcolor;

	&:hover {
		text-decoration-color: transparent;
		color: var(--color-primary-hover);
	}
}

/* Flex style */

.flex-style {
	display: flex;
	flex-wrap: wrap;
	flex-direction: var(--flex-direction, column);
	align-items: var(--align-items, flex-start);
	justify-content: var(--justify-content, flex-start);
	row-gap: var(--row-gap, 4px);
	column-gap: var(--column-gap, 4px);

	@media screen and (max-width: 768px) {
		flex-direction: var(--mobile-flex-direction, column);
		align-items: var(--mobile-align-items, flex-start);
		justify-content: var(--mobile-justify-content, flex-start);
		row-gap: var(--mobile-row-gap, 4px);
		column-gap: var(--mobile-column-gap, 4px);
	}
}

/* Size style */
.size-style {
	width: var(--size-style-width);
	height: var(--size-style-height);

	@media screen and (min-width: 768px) {
		width: var(--size-style-width-mobile, var(--size-style-width));
		height: var(--size-style-height-mobile, var(--size-style-height));
	}
}

/* Border override style */
.border-style {
	border-left-width: var(--border-left-width, 0);
	border-right-width: var(--border-right-width, 0);
	border-bottom-width: var(--border-bottom-width, 0);
	border-top-width: var(--border-top-width, 0);
	border-style: var(--border-style);
	border-color: var(--border-color);
	border-radius: var(--border-radius);
}

/* Spacing style */
.spacing-style {
	--spacing-scale: var(--spacing-scale-md);

	@media screen and (min-width: 990px) {
		--spacing-scale: var(--spacing-scale-default);
	}

	/* Must disable this, when you use these with calc and another unit type, things break — see logo.liquid */
	/* stylelint-disable length-zero-no-unit */
	--padding-block: 0px;
	--padding-block-start: var(--padding-block, 0px);
	--padding-block-end: var(--padding-block, 0px);
	--padding-inline: 0px;
	--padding-inline-start: var(--padding-inline, 0px);
	--padding-inline-end: var(--padding-inline, 0px);
	--margin-block: 0px;
	--margin-block-start: var(--margin-block, 0px);
	--margin-block-end: var(--margin-block, 0px);
	--margin-inline: 0px;
	--margin-inline-start: var(--margin-inline, 0px);
	--margin-inline-end: var(--margin-inline, 0px);
}

.spacing-style,
.inherit-spacing {
	padding-block: calc(
			var(--padding-block-start) + var(--section-top-offset, 0px)
		)
		var(--padding-block-end);
	padding-inline: var(--padding-inline-start) var(--padding-inline-end);
	margin-block: var(--margin-block-start) var(--margin-block-end);
	margin-inline: var(--margin-inline-start) var(--margin-inline-end);

	@media (max-width: 768px) {
		padding-block: calc(
				var(--mobile-padding-block-start, var(--padding-block-start)) +
					var(--section-top-offset, 0px)
			)
			var(--mobile-padding-block-end, var(--padding-block-end));
		padding-inline: var(
				--mobile-padding-inline-start,
				var(--padding-inline-start)
			)
			var(--mobile-padding-inline-end, var(--padding-inline-end));
	}
}

[x-cloak] {
	display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.page-width {
	max-width: var(--page-width, 1200px);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.page-width-docs {
	max-width: var(--page-width-docs, 1440px);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Typography */
.custom-typography,
.custom-typography > * {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	text-transform: var(--text-transform);
	text-wrap: var(--text-wrap);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}

.custom-typography {
	h1 {
		line-height: var(--line-height--display, var(--line-height));
	}

	h2,
	h3,
	h4 {
		line-height: var(--line-height--heading, var(--line-height));
	}

	p {
		line-height: var(--line-height--body, var(--line-height));
	}
}

.custom-font-size,
.custom-font-size > * {
	font-size: var(--font-size);
	@media screen and (max-width: 768px) {
		font-size: var(--mobile-font-size);
	}
}

.custom-font-weight,
.custom-font-weight > * {
	font-weight: var(--weight);
}

.paragraph > small {
	font-size: smaller;
}

button {
	cursor: pointer;
}
/* 
.reversed-link {
	background: linear-gradient(to right, currentColor, currentColor) 0
		min(100%, 1.35em) / 0 1px no-repeat;
	transition: background-size 0.3s ease-in-out;
}

.group:hover .reversed-link,
.reversed-link.hover\:show:hover {
	background-size: 100% 1px;
}
 */

@media screen and (pointer: fine) {
	.reversed-link {
		position: relative;

		/* browser underline for multi-line */
		text-decoration: underline;
		text-decoration-color: transparent;
		text-underline-offset: 4px;
		text-decoration-thickness: 1px;

		transition:
			background-size 0.35s ease-in-out,
			text-decoration-color 0.35s ease-in-out;
	}

	.group:hover .reversed-link,
	.reversed-link:hover {
		background-size: 100% 1px;
		text-decoration-color: currentColor;
	}
}
