@import 'tailwindcss';

@layer base {
	/* Custom base styles can be added here */
	button {
		@apply cursor-pointer;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@layer components {
	.anouncement-bar {
		@apply w-full;
	}

	[x-cloak] {
		display: none !important;
	}
}
