@import 'tailwindcss';

@theme {
	--color-primary: var(--color-primary);
	--color-primary-foreground: var(--color-primary-foreground);
	--color-secondary: var(--color-secondary);
	--color-foreground: var(--color-foreground);
	--color-background: var(--color-background);
}

@layer base {
	*:focus-visible {
		@apply ring-0! outline-0!;
	}
}

[x-cloak] {
	display: none !important;
}
